In [1]:
# kaggle.json
from google.colab import files
files.upload()
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json

In [175]:
!pip install kaggle
!kaggle competitions download -c 'demand-forecasting-in-retail'
!unzip train.csv.zip

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
STORE_LOCATION.csv: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  train.csv.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv

In [344]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import RidgeCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

Читаем все датасеты:

In [345]:
df_train = pd.read_csv('./train.csv')
df_train.rename(columns={"Unnamed: 0": "id"}, inplace=True)
df_stores = pd.read_csv('./STORE_LOCATION.csv', delimiter=";", index_col=None)
df_test = pd.read_csv('./test.csv')
temp = pd.read_csv('./sample_submission.csv', index_col=None)
temp = temp.id.values

Заполним недостающие значения самой популярной категорией:

In [346]:
df_train.PROMO1_FLAG = df_train.PROMO1_FLAG.fillna(0)
df_train.AUTORIZATION_FLAG = df_train.AUTORIZATION_FLAG.fillna(1)

Выкинем неинформативные столбцы:

In [347]:
df_stores = df_stores.drop(
    columns=[
        "STORE_LOCATION_ATTRIB17_hashing",
        "STORE_LOCATION_ATTRIB18_hashing",
        "STORE_LOCATION_ATTRIB19_hashing",
        "STORE_LOCATION_ATTRIB20_hashing",
        "STORE_LOCATION_ATTRIB21_hashing",
        "STORE_LOCATION_LVL_RK1",
        "STORE_CLOSURE_DTTM",
        "STORE_LOCATION_ADK_hashing"
    ]
)

In [348]:
df_stores

      STORE_LOCATION_RK  ...   STORE_LOCATION_ATTRIB16_hashing
0                   277  ...  3F0DA22658EF921D0F500BFDC5471DB3
1                   278  ...  3F0DA22658EF921D0F500BFDC5471DB3
2                   279  ...  3F0DA22658EF921D0F500BFDC5471DB3
3                   280  ...  3F0DA22658EF921D0F500BFDC5471DB3
4                   281  ...  3F0DA22658EF921D0F500BFDC5471DB3
...                 ...  ...                               ...
1203               1482  ...  3F0DA22658EF921D0F500BFDC5471DB3
1204               1483  ...  3F0DA22658EF921D0F500BFDC5471DB3
1205               1484  ...  3F0DA22658EF921D0F500BFDC5471DB3
1206               1485  ...  3F0DA22658EF921D0F500BFDC5471DB3
1207               1486  ...  3F0DA22658EF921D0F500BFDC5471DB3

[1208 rows x 21 columns]

Объединим данные по магазинам с остальными данными:

In [349]:
df_train = df_train.merge(df_stores, how='left', left_on='store_location_rk', right_on='STORE_LOCATION_RK')

In [350]:
df_train.head()

   id  ...   STORE_LOCATION_ATTRIB16_hashing
0   0  ...  3F0DA22658EF921D0F500BFDC5471DB3
1   1  ...  3F0DA22658EF921D0F500BFDC5471DB3
2   2  ...  3F0DA22658EF921D0F500BFDC5471DB3
3   3  ...  3F0DA22658EF921D0F500BFDC5471DB3
4   4  ...  3F0DA22658EF921D0F500BFDC5471DB3

[5 rows x 32 columns]

In [351]:
df_train.describe()

                 id  ...  STORE_LOCATION_LVL_RK2
count  35344.000000  ...                 35344.0
mean   17766.554012  ...                    10.0
std    10258.040738  ...                     0.0
min        0.000000  ...                    10.0
25%     8881.750000  ...                    10.0
50%    17770.500000  ...                    10.0
75%    26647.250000  ...                    10.0
max    35541.000000  ...                    10.0

[8 rows x 14 columns]

In [352]:
 df_train.isna().sum()

id                                    0
product_rk                            0
store_location_rk                     0
period_start_dt                       0
demand                             1200
PROMO1_FLAG                           0
PROMO2_FLAG                         185
PRICE_REGULAR                      1127
PRICE_AFTER_DISC                   1132
NUM_CONSULTANT                      185
AUTORIZATION_FLAG                     0
STORE_LOCATION_RK                     0
STORE_LOCATION_LVL_RK4                0
STORE_LOCATION_LVL_RK3                0
STORE_LOCATION_LVL_RK2                0
STORE_OPEN_DTTM                       0
STORE_LOCATION_ATTRIB1_hashing        0
STORE_LOCATION_ATTRIB2_hashing        0
STORE_LOCATION_ATTRIB3_hashing        0
STORE_LOCATION_ATTRIB4_hashing        0
STORE_LOCATION_ATTRIB5_hashing        0
STORE_LOCATION_ATTRIB6_hashing        0
STORE_LOCATION_ATTRIB7_hashing        0
STORE_LOCATION_ATTRIB8_hashing        0
STORE_LOCATION_ATTRIB9_hashing        0
STORE_LOCATION_ATTRIB10_hashing       0
STORE_LOCATION_ATTRIB11_hashing       0
STORE_LOCATION_ATTRIB12_hashing       0
STORE_LOCATION_ATTRIB13_hashing       0
STORE_LOCATION_ATTRIB14_hashing       0
STORE_LOCATION_ATTRIB15_hashing       0
STORE_LOCATION_ATTRIB16_hashing       0
dtype: int64

In [353]:
print(df_train.NUM_CONSULTANT.value_counts())
print(df_train.PROMO2_FLAG.value_counts())
print(df_train.PROMO1_FLAG.value_counts())
print(df_train.store_location_rk.value_counts())
print(df_train.product_rk.value_counts())
print(df_train.period_start_dt.value_counts())
print(df_train.demand.value_counts())

0.0    35159
Name: NUM_CONSULTANT, dtype: int64
0.0    35159
Name: PROMO2_FLAG, dtype: int64
0.0    28508
1.0     6414
2.0      422
Name: PROMO1_FLAG, dtype: int64
798     924
1034    924
1281    924
657     924
764     924
540     924
1202    924
517     924
1005    924
425     924
533     924
525     923
555     923
1162    923
862     923
874     923
453     923
644     923
355     923
866     923
1191    923
1185    923
1080    923
562     923
637     923
317     923
1173    923
380     923
1143    922
1203    922
535     922
1079    922
557     921
504     919
1326    859
1328    726
1316    719
1363    669
1347    648
1380    325
309      15
Name: store_location_rk, dtype: int64
40373    6074
40369    6074
40370    6074
40372    6073
46272    6068
96212    4981
Name: product_rk, dtype: int64
2019-07-22    240
2019-02-18    240
2019-06-24    240
2019-11-11    240
2019-09-09    240
             ...
2017-01-30    170
2017-02-13    170
2017-01-09    170
2017-01-16    170
2017-02-06    170
Name: period_start_dt, Length: 159, dtype: int64
0.000000     5454
3.000000     2278
2.000000     2268
4.000000     2217
5.000000     1981
             ...
5.688525        1
36.546448       1
57.453552       1
13.377049       1
22.133333       1
Name: demand, Length: 1806, dtype: int64

Опять удаляем неинформативные столбцы:

In [354]:
df_train.drop('NUM_CONSULTANT', axis=1, inplace=True)
df_train.drop('PROMO2_FLAG', axis=1, inplace=True)
promo_df = pd.get_dummies(df_train.PROMO1_FLAG, prefix='PROMO1_FLAG')
#df_train.drop('PROMO1_FLAG', axis=1, inplace=True)
df_train = pd.concat([df_train, promo_df], axis=1)

In [355]:
df_test['is_test'] = np.repeat(True, df_test.shape[0])
df_train['is_test'] = np.repeat(False, df_train.shape[0])
df_total = pd.concat([df_train, df_test])
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36748 entries, 0 to 1403
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               36748 non-null  int64
 1   product_rk                       36748 non-null  int64
 2   store_location_rk                36748 non-null  int64
 3   period_start_dt                  36748 non-null  object
 4   demand                           34144 non-null  float64
 5   PROMO1_FLAG                      35344 non-null  float64
 6   PRICE_REGULAR                    34217 non-null  float64
 7   PRICE_AFTER_DISC                 34212 non-null  float64
 8   AUTORIZATION_FLAG                35344 non-null  float64
 9   STORE_LOCATION_RK                35344 non-null  float64
 10  STORE_LOCATION_LVL_RK4           35344 non-null  float64
 11  STORE_LOCATION_LVL_RK3           35344 non-null  float64
 12  STORE_LOCATION_LVL_RK2           35344 non-null  float64
 13  STORE_OPEN_DTTM                  35344 non-null  object
 14  STORE_LOCATION_ATTRIB1_hashing   35344 non-null  object
 15  STORE_LOCATION_ATTRIB2_hashing   35344 non-null  object
 16  STORE_LOCATION_ATTRIB3_hashing   35344 non-null  object
 17  STORE_LOCATION_ATTRIB4_hashing   35344 non-null  object
 18  STORE_LOCATION_ATTRIB5_hashing   35344 non-null  object
 19  STORE_LOCATION_ATTRIB6_hashing   35344 non-null  object
 20  STORE_LOCATION_ATTRIB7_hashing   35344 non-null  object
 21  STORE_LOCATION_ATTRIB8_hashing   35344 non-null  object
 22  STORE_LOCATION_ATTRIB9_hashing   35344 non-null  object
 23  STORE_LOCATION_ATTRIB10_hashing  35344 non-null  object
 24  STORE_LOCATION_ATTRIB11_hashing  35344 non-null  object
 25  STORE_LOCATION_ATTRIB12_hashing  35344 non-null  object
 26  STORE_LOCATION_ATTRIB13_hashing  35344 non-null  object
 27  STORE_LOCATION_ATTRIB14_hashing  35344 non-null  object
 28  STORE_LOCATION_ATTRIB15_hashing  35344 non-null  object
 29  STORE_LOCATION_ATTRIB16_hashing  35344 non-null  object
 30  PROMO1_FLAG_0.0                  35344 non-null  float64
 31  PROMO1_FLAG_1.0                  35344 non-null  float64
 32  PROMO1_FLAG_2.0                  35344 non-null  float64
 33  is_test                          36748 non-null  bool
dtypes: bool(1), float64(12), int64(3), object(18)
memory usage: 9.6+ MB

Делаем категорийные и численные признаки для дат:

In [356]:
df_total["period_start_dt"] = pd.to_datetime(df_total["period_start_dt"])

weekday_df = pd.get_dummies(df_total.period_start_dt.dt.weekday, prefix='weekday')
month_df = pd.get_dummies(df_total.period_start_dt.dt.month, prefix='month')
year_df = pd.get_dummies(df_total.period_start_dt.dt.year, prefix='year')

df_total = pd.concat([weekday_df, month_df, year_df, df_total], axis=1)
df_total["day"] = df_total["period_start_dt"].dt.day
df_total["month"] = df_total["period_start_dt"].dt.month
df_total["day_year"] = df_total["period_start_dt"].dt.dayofyear
df_total["weekday"] = df_total["period_start_dt"].dt.weekday

df_total = df_total.drop(columns=["period_start_dt"])

In [357]:
print(df_total.columns)

Index(['weekday_0', 'weekday_1', 'weekday_3', 'month_1', 'month_2', 'month_3',
       'month_4', 'month_5', 'month_6', 'month_7', 'month_8', 'month_9',
       'month_10', 'month_11', 'month_12', 'year_2016', 'year_2017',
       'year_2018', 'year_2019', 'year_2020', 'id', 'product_rk',
       'store_location_rk', 'demand', 'PROMO1_FLAG', 'PRICE_REGULAR',
       'PRICE_AFTER_DISC', 'AUTORIZATION_FLAG', 'STORE_LOCATION_RK',
       'STORE_LOCATION_LVL_RK4', 'STORE_LOCATION_LVL_RK3',
       'STORE_LOCATION_LVL_RK2', 'STORE_OPEN_DTTM',
       'STORE_LOCATION_ATTRIB1_hashing', 'STORE_LOCATION_ATTRIB2_hashing',
       'STORE_LOCATION_ATTRIB3_hashing', 'STORE_LOCATION_ATTRIB4_hashing',
       'STORE_LOCATION_ATTRIB5_hashing', 'STORE_LOCATION_ATTRIB6_hashing',
       'STORE_LOCATION_ATTRIB7_hashing', 'STORE_LOCATION_ATTRIB8_hashing',
       'STORE_LOCATION_ATTRIB9_hashing', 'STORE_LOCATION_ATTRIB10_hashing',
       'STORE_LOCATION_ATTRIB11_hashing', 'STORE_LOCATION_ATTRIB12_hashing',
       'STORE_LOCATION_ATTRIB13_hashing', 'STORE_LOCATION_ATTRIB14_hashing',
       'STORE_LOCATION_ATTRIB15_hashing', 'STORE_LOCATION_ATTRIB16_hashing',
       'PROMO1_FLAG_0.0', 'PROMO1_FLAG_1.0', 'PROMO1_FLAG_2.0', 'is_test',
       'day', 'month', 'day_year', 'weekday'],
      dtype='object')

Нормализуем данные и создаем категории:

In [358]:
scaler = MinMaxScaler(feature_range=(0,1))
cols_to_scale = [col for col in df_total.columns if 'demand' not in col and 'id' not in col and 'STORE_' not in col]
scaled_cols = scaler.fit_transform(df_total[cols_to_scale])

cols_to_category = [col for col in df_total.columns if 'STORE_' in col]
df_total = pd.get_dummies(df_total, columns=cols_to_category)

df_total[cols_to_scale] = scaled_cols
df_total.PRICE_REGULAR = df_total.PRICE_REGULAR.fillna(df_total.PRICE_REGULAR.mean())
df_total.PRICE_AFTER_DISC = df_total.PRICE_AFTER_DISC.fillna(df_total.PRICE_AFTER_DISC.mean())

df_train = df_total[df_total['is_test'] == False].drop('is_test', axis=1)
df_test = df_total[df_total['is_test'] == True].drop('is_test', axis=1)

In [359]:
 df_train

       weekday_0  ...  STORE_LOCATION_ATTRIB16_hashing_3F0DA22658EF921D0F500BFDC5471DB3
0            1.0  ...                                                  1
1            1.0  ...                                                  1
2            1.0  ...                                                  1
3            1.0  ...                                                  1
4            1.0  ...                                                  1
...          ...  ...                                                ...
35339        1.0  ...                                                  1
35340        1.0  ...                                                  1
35341        1.0  ...                                                  1
35342        1.0  ...                                                  1
35343        1.0  ...                                                  1

[35344 rows x 144 columns]

In [360]:
TEST = df_train[df_train.id.isin(temp)]
df_train = df_train[~df_train.id.isin(temp)]

In [361]:
df_train["demand"] = np.log1p(df_train["demand"])
X = df_train.drop(['demand', 'id'], axis=1)
y = df_train['demand']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [362]:
y_train

0        3.401197
1        4.174387
2        3.496508
3        2.397895
4        2.772589
           ...
31744    2.197225
31745    2.079442
31746    2.944439
31747    2.302585
31748    1.098612
Name: demand, Length: 30729, dtype: float64

In [363]:
df = TEST.drop(['demand', 'id'], axis=1)

Обучаем случайный лес:

In [364]:
model = RandomForestRegressor(n_estimators=15, max_depth=10, random_state=0, n_jobs=-1).fit(X, y)
y_pred = model.predict(df)
y_pred

array([1.42276295, 1.99562982, 1.16264502, ..., 3.86145811, 2.51574971,
       3.28680821])

In [365]:
y_pred = np.expm1(y_pred)

In [366]:
y_train

0        3.401197
1        4.174387
2        3.496508
3        2.397895
4        2.772589
           ...
31744    2.197225
31745    2.079442
31746    2.944439
31747    2.302585
31748    1.098612
Name: demand, Length: 30729, dtype: float64

In [367]:
new_df = TEST
new_df['predicted'] = y_pred
#new_df['predicted'] = np.round(y_pred).astype(int)
new_df = new_df[['id', 'predicted']]
new_df.to_csv('out.csv', index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [368]:
new_df

          id   predicted
908      908    3.148567
909      909    6.356835
910      910    2.198382
911      911    2.639075
912      912    2.029001
...      ...         ...
35339  35537  125.836694
35340  35538   55.726544
35341  35539   46.534612
35342  35540   11.375884
35343  35541   25.757323

[1200 rows x 2 columns]